@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Courgette&family=Diphylleia&family=Fuggles&family=Great+Vibes&display=swap');

:root {
  color: #2b563b;
  background-color: #e0ddd6;
  font-family: 'Diphylleia', serif;
}

* {
  box-sizing: border-box;
}

body {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small;
}

button {
  border: none;
  border-radius: 0.5rem;
  margin: 5px;
  padding: 5px;
  background-color: #95b87d;
  font-size: medium;
}

span {
  font-size: medium;
}